

/* Hero-section */

.hero-section {
    color: var(--color-white);
    padding: var(--spacing-4xl) var(--spacing-base);
}

.hero-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
    background-image: url("../images/hero-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    border-radius: var(--border-radius-mg);
    text-align: center;
}

.hero-section h1 {
    font-size: var(--spacing-4xl);
    font-weight: var(--font-medium);
    line-height: var(--line-height-4xl);
}

.hero-section__actions {
    display: flex;
    align-items: center;
    gap: var(--spacing-base);
}

@media (max-width: 670px) {
    .hero-section {
        padding: var(--spacing-lg) var(--spacing-base);
    }

    .hero-section__content {
        padding: var(--spacing-4xl) var(--spacing-lg);
    }

    .hero-section h1 {
        font-size: var(--text-2xl);
        line-height: var(--line-height-2xl);
    }
}

/* Companies */

.companies {
    padding: var(--spacing-base);
}

.companies-title {
    text-align: center;
    margin-bottom: var(--spacing-lg);
    color: var(--color-secondary);
}

.companies-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing-lg);
}

.companies-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-base);
}

@media (max-width: 890px) {
    .companies-list {
        justify-content: center;
    }

}

@media (max-width: 670px) {
    .companies {
        padding: var(--spacing-lg) var(--spacing-base);
    }

    .companies-list {
        flex-direction: column;
        width: max-content;
        margin: 0 auto;
    }
}

/* Services */

.services {
    padding: 100px var(--spacing-base);
}

.services-title {
    text-align: center;
    color: var(--color-primary);
    font-size: var(--text-base);
    font-weight: normal;
    margin-bottom: var(--spacing-sm);
}

.services-subtitle {
    text-align: center;
    font-size: var(--text-3xl);
    font-weight: var(--font-medium);
    line-height: var(--line-height-3xl);
    margin-bottom: var(--spacing-sm);
}

.services-description {
    text-align: center;
    color: var(--color-secondary);
    margin-bottom: var(--spacing-2xl);
}

.services-list {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-lg);
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: var(--spacing-sm);
    background-color: var(--color-background);
    border-radius: var(--border-radius-mg);
    padding: var(--spacing-lg);
    text-align: center;
}

.services-item__title {
    font-weight: var(--font-medium);
}

.services-item__description {
    color: var(--color-secondary);
}

@media (max-width: 890px) {
    .services-list {
        flex-direction: column;

    }
}

@media (max-width: 670px) {
    .services {
        padding: var(--spacing-lg) var(--spacing-base);
    }
}

/* Survey, price */

.about-survey,
.about-price {
    padding: 100px var(--spacing-base);
    background-color: var(--color-background);
}

.about-price {
        background-color: transparent;
    }

.about-survey__content,
.about-price__content {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-2xl);
}

.about-survey__title,
.about-price__title {
    font-size: var(--text-3xl);
    line-height: var(--line-height-3xl);
    font-weight: var(--font-medium);
    margin-bottom: var(--spacing-base);
}

.about-survey__description,
.about-price__description {
    color: var(--color-secondary);
    margin-bottom: var(--spacing-base);
}

.about-survey__actions,
.about-price__actions {
    display: flex;
    gap: var(--spacing-base);
}

.about-survey__image,
.about-price__image {
    max-width: 50%;
    border-radius: var(--border-radius-mg);
    object-fit: cover;
}

@media (max-width: 890px) {
    .about-survey,
    .about-price {
        padding: var(--spacing-lg) var(--spacing-base);
    }

    .about-price {
        background-color: transparent;
    }

    .about-survey__content,
    .about-price__content {
        flex-direction: column;
    }

    .about-survey__title,
    .about-survey__description,
    .about-price__title,
    .about-price__description {
        text-align: center;
    }

    .about-survey__title,
    .about-price__title {
        font-size: var(--text-2xl);
        line-height: var(--line-height-2xl);
    }

    .about-survey__actions,
    .about-price__actions {
        justify-content: center;
    }

    .about-survey__image,
    .about-price__image {
        max-width: 100%;
    }

    .about-price__image {
        order: 1;
    }
}

/* Portfolio */

.portfolio {
    padding: 100px var(--spacing-base);
    background-color: var(--color-background);
}

.portfolio-title {
    text-align: center;
    color: var(--color-primary);
    font-size: var(--text-base);
    font-weight: normal;
    margin-bottom: var(--spacing-sm);
}

.portfolio-subtitle {
    text-align: center;
    font-size: var(--text-3xl);
    font-weight: var(--font-medium);
    line-height: var(--line-height-3xl);
    margin-bottom: var(--spacing-sm);
}

.portfolio-description {
    text-align: center;
    color: var(--color-secondary);
    margin-bottom: var(--spacing-2xl);
}

.portfolio-list {
    display: flex;
    gap: var(--spacing-2xl);
}

.portfolio-item {
    flex: 1;
}

.portfolio-item__image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: var(--border-radius-mg);
    margin-bottom: var(--spacing-lg);
}

.portfolio-item__title {
    font-size: var(--text-lg);
    font-weight: var(--font-medium);
    margin-bottom: var(--spacing-base);
}

.portfolio-item__description {
    color: var(--color-secondary);
}

@media (max-width: 890px) {
    .portfolio-list {
        flex-direction: column;
    }

    .portfolio-item__title, 
    .portfolio-item__description {
        text-align: center;
    }
}

@media (max-width: 670px) {
    .portfolio {
        padding: var(--spacing-lg) var(--spacing-base);
    }

    .portfolio-subtitle {
        font-size: var(--text-2xl);
        line-height: var(--line-height-3xl);
    }
}

/* Project-discussion */

.project-discussion {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/discussion-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px var(--spacing-base);
}

.project-discussion__content {
    background-color: var(--color-white);
    border-radius: var(--border-radius-mg);
    padding: var(--spacing-4xl);
}

.project-discussion__title {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: var(--spacing-sm);
}

.project-discussion__subtitle {
    text-align: center;
    font-size: var(--text-2xl);
    font-weight: var(--font-medium);
    line-height: var(--line-height-2xl);
}

.project-discussion__description {
    text-align: center;
    color: var(--color-secondary);
    margin-bottom: var(--spacing-lg);
    max-width: 525px;
    margin: 0 auto var(--spacing-lg) auto;
}
    
.project-discussion__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-base);
}  

@media (max-width: 670px) {
    .project-discussion {
        padding: var(--spacing-4xl) var(--spacing-base);
    }

    .project-discussion__content {
        padding: var(--spacing-lg);
    }

    .project-discussion__subtitle {
        font-size: var(--text-lg);
        line-height: var(--line-height-lg);
    }px

    .project-discussion__actions {
        flex-direction: column;
    }
}






