/* 404 страница */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message__images {
    display: flex;
    justify-content: center;
}

.message__title {
    text-align: center;
    font-size: var(--text-2xl);
    font-weight: var(--font-medium);
    line-height: var(--line-height-2xl);
    padding-bottom: var(--spacing-sm);
}

.message__description {
    text-align: center;
    font-size: var(--text-base);
    line-height: var(--line-height-base);
    padding-bottom: var(--spacing-lg);
}

.message__actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 890px) {

    .message {
        padding-top: 175px;
        padding-left: var(--spacing-base);
        padding-bottom: 175px;
        padding-right: var(--spacing-base);
    }

    .message__title {
        font-size: var(--text-xl);
        line-height: var(--line-height-xl);
    }
    
}

@media (max-width:670px) {
    .message {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
